/* ========================
		Footer
	======================= */

.footer
	background-color: $dark-gray
	border-top: 1px solid darken($dark-gray, 20%)
	color: $silver
	display: table-row
	height: 1px
	padding: 1em 0

	.navbar-menu
		all: unset
		align-items: center
		display: flex
		flex-direction: column
		justify-content: center
		padding: 40px 0 0

	.navbar-item
		color: $silver
		font-size: 1rem
		margin-bottom: 0
		opacity: 1

		&:hover
			color: $tillman

		&::after
			background: $text-color
			content: ''
			display: block
			height: 1px
			margin: 1.4em auto
			width: 1.8em

	.section
		background-color: inherit
		border: none
		color: $silver
		display: flex
		flex-direction: column
		font-size: 1rem
		font-weight: 400
		justify-content: center
		padding: 0 0 40px
		text-align: center

@media screen and (min-width: $desktop)
	.footer
		display: block  // IE friendly
		height: auto
		width: 100vw

		.container
			display: flex
			flex-direction: row
			justify-content: space-around
			display: grid
			grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr

			.section
				order: -1
				grid-column: 2/3
				grid-row: 1/2
				padding-top: 40px

				p
					padding-top: 20px

			.navbar-menu
				align-self: center
				background-color: $dark-gray
				display: flex
				flex-direction: row
				justify-content: flex-end
				order: 1
				position: static
				width: auto
				grid-column: 3/4
				padding: 0

				.navbar-item
					align-self: center
					margin-left: 3rem
					position: relative

					&::after
						background-color: $tillman
						height: 5px
						left: 0
						position: absolute
						right: 0
						top: .75em
						transform: scale(0,1)
						transition: transform $navbar-timing $navbar-duration
						width: auto

					&:hover::after,
					&:focus::after
						transform: scale(1,1)

					&::before
						background: none
						top: initial