// Typography
$base-font-family: $font-stack-source;
$heading-font-family: $font-stack-raleway;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$jet-black: #000;
$dark-gray: #333;
$light-blue: #33c3f0 !default;
$light-gray: #ddd;
$medium-gray: #999;
$medium-dark-gray: #3b3b39;
$lh-orange: #f6921e;
$pink: #f6c;
$royal-purple: #4e3862;
$red: #d61212;
$white: #fff;

// Cool
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;
$teal-one: #39cccc;
$teal-two: #028482;
$teal-three: rgba(0, 214, 170, 0.85);
$tillman: $teal-two;

// Warm
$yellow: #ffdc00;
$orange: #ff851b;
$tomato-red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;

// Gray Scale
$silver: #ddd;
$gray: #aaa;
$black: #111;

$text-color: #6a6a6a;
$primary-color: $light-blue;

// Font Colors
$base-font-color: $text-color;
$action-color: $teal-one;
$selection-color: $action-color;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: $white;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
$navbar-duration: 250ms;
$navbar-timing: ease-in-out;
$navbar-delay: $navbar-duration;

// Breakpoints
$desktop: 960px;
$lg-screen: 1240px;

// Misc
$global-radius: 4px !default;
$full-viewport-width: 99vw;
$full-viewport-height: 100vh;
$full-width: 100%;
$fill: 100%;
