// Typography
$base-font-family: $font-stack-source;
$heading-font-family: $font-stack-raleway;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$jet-black: 		#000;
$dark-gray: 		#333;
$light-blue: 		#33c3f0 !default;
$light-gray: 		#ddd;
$medium-gray: 		#999;
$medium-dark-gray: 	#3b3b39;
$lh-orange:			#f6921e;
$pink: 				#f6c;
$royal-purple:  	#4e3862;
$red: 				#d61212;
$white: 			#fff;

// Cool
$aqua:  			#7FDBFF;
$blue:  			#0074D9;
$navy:  			#001F3F;
$green: 			#2ECC40;
$olive: 			#3D9970;
$lime:  			#01FF70;
$teal-one: 			#39CCCC;
$teal-two:			#028482;
$teal-three:		rgba(0, 214, 170, .85);
$tillman:			$teal-two;


// Warm
$yellow:  			#FFDC00;
$orange:  			#FF851B;
$tomato-red:		#FF4136;
$fuchsia: 			#F012BE;
$purple:  			#B10DC9;
$maroon:  			#85144B;


// Gray Scale
$silver: 			#ddd;
$gray:   			#aaa;
$black:  			#111;

$text-color: 		#6a6a6a;
$primary-color:   $light-blue;

// Font Colors
$base-font-color: $text-color;
$action-color: 	  $teal-one;
$selection-color: $action-color;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: $white;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
$navbar-duration: 250ms;
$navbar-timing: ease-in-out;
$navbar-delay: $navbar-duration;

// Breakpoints
$desktop: 960px;

// Misc
$global-radius: 4px !default;
$full-viewport-width: 99vw;
$full-viewport-height: 100vh;
$full-width: 100%;
$fill: 100%;