/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/source-sans-pro-v11-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url("fonts/source-sans-pro-v11-latin-300.eot?#iefix") format("embedded-opentype"), url("fonts/source-sans-pro-v11-latin-300.woff2") format("woff2"), url("fonts/source-sans-pro-v11-latin-300.woff") format("woff"), url("fonts/source-sans-pro-v11-latin-300.ttf") format("truetype"), url("fonts/source-sans-pro-v11-latin-300.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-300italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url("fonts/source-sans-pro-v11-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Light Italic"), local("SourceSansPro-LightItalic"), url("fonts/source-sans-pro-v11-latin-300italic.eot?#iefix") format("embedded-opentype"), url("fonts/source-sans-pro-v11-latin-300italic.woff2") format("woff2"), url("fonts/source-sans-pro-v11-latin-300italic.woff") format("woff"), url("fonts/source-sans-pro-v11-latin-300italic.ttf") format("truetype"), url("fonts/source-sans-pro-v11-latin-300italic.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/source-sans-pro-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("fonts/source-sans-pro-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/source-sans-pro-v11-latin-regular.woff2") format("woff2"), url("fonts/source-sans-pro-v11-latin-regular.woff") format("woff"), url("fonts/source-sans-pro-v11-latin-regular.ttf") format("truetype"), url("fonts/source-sans-pro-v11-latin-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url("fonts/source-sans-pro-v11-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Italic"), local("SourceSansPro-Italic"), url("fonts/source-sans-pro-v11-latin-italic.eot?#iefix") format("embedded-opentype"), url("fonts/source-sans-pro-v11-latin-italic.woff2") format("woff2"), url("fonts/source-sans-pro-v11-latin-italic.woff") format("woff"), url("fonts/source-sans-pro-v11-latin-italic.ttf") format("truetype"), url("fonts/source-sans-pro-v11-latin-italic.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/source-sans-pro-v11-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"), url("fonts/source-sans-pro-v11-latin-600.eot?#iefix") format("embedded-opentype"), url("fonts/source-sans-pro-v11-latin-600.woff2") format("woff2"), url("fonts/source-sans-pro-v11-latin-600.woff") format("woff"), url("fonts/source-sans-pro-v11-latin-600.ttf") format("truetype"), url("fonts/source-sans-pro-v11-latin-600.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-600italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url("fonts/source-sans-pro-v11-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro SemiBold Italic"), local("SourceSansPro-SemiBoldItalic"), url("fonts/source-sans-pro-v11-latin-600italic.eot?#iefix") format("embedded-opentype"), url("fonts/source-sans-pro-v11-latin-600italic.woff2") format("woff2"), url("fonts/source-sans-pro-v11-latin-600italic.woff") format("woff"), url("fonts/source-sans-pro-v11-latin-600italic.ttf") format("truetype"), url("fonts/source-sans-pro-v11-latin-600italic.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/source-sans-pro-v11-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("fonts/source-sans-pro-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("fonts/source-sans-pro-v11-latin-700.woff2") format("woff2"), url("fonts/source-sans-pro-v11-latin-700.woff") format("woff"), url("fonts/source-sans-pro-v11-latin-700.ttf") format("truetype"), url("fonts/source-sans-pro-v11-latin-700.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-700italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url("fonts/source-sans-pro-v11-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Bold Italic"), local("SourceSansPro-BoldItalic"), url("fonts/source-sans-pro-v11-latin-700italic.eot?#iefix") format("embedded-opentype"), url("fonts/source-sans-pro-v11-latin-700italic.woff2") format("woff2"), url("fonts/source-sans-pro-v11-latin-700italic.woff") format("woff"), url("fonts/source-sans-pro-v11-latin-700italic.ttf") format("truetype"), url("fonts/source-sans-pro-v11-latin-700italic.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/raleway-v12-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Raleway Medium"), local("Raleway-Medium"), url("fonts/raleway-v12-latin-500.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-v12-latin-500.woff2") format("woff2"), url("fonts/raleway-v12-latin-500.woff") format("woff"), url("fonts/raleway-v12-latin-500.ttf") format("truetype"), url("fonts/raleway-v12-latin-500.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-500italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 500;
  src: url("fonts/raleway-v12-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local("Raleway Medium Italic"), local("Raleway-MediumItalic"), url("fonts/raleway-v12-latin-500italic.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-v12-latin-500italic.woff2") format("woff2"), url("fonts/raleway-v12-latin-500italic.woff") format("woff"), url("fonts/raleway-v12-latin-500italic.ttf") format("truetype"), url("fonts/raleway-v12-latin-500italic.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/raleway-v12-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("fonts/raleway-v12-latin-600.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-v12-latin-600.woff2") format("woff2"), url("fonts/raleway-v12-latin-600.woff") format("woff"), url("fonts/raleway-v12-latin-600.ttf") format("truetype"), url("fonts/raleway-v12-latin-600.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-600italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  src: url("fonts/raleway-v12-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Raleway SemiBold Italic"), local("Raleway-SemiBoldItalic"), url("fonts/raleway-v12-latin-600italic.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-v12-latin-600italic.woff2") format("woff2"), url("fonts/raleway-v12-latin-600italic.woff") format("woff"), url("fonts/raleway-v12-latin-600italic.ttf") format("truetype"), url("fonts/raleway-v12-latin-600italic.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/raleway-v12-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Raleway Bold"), local("Raleway-Bold"), url("fonts/raleway-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-v12-latin-700.woff2") format("woff2"), url("fonts/raleway-v12-latin-700.woff") format("woff"), url("fonts/raleway-v12-latin-700.ttf") format("truetype"), url("fonts/raleway-v12-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  src: url("fonts/raleway-v12-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Raleway Bold Italic"), local("Raleway-BoldItalic"), url("fonts/raleway-v12-latin-700italic.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-v12-latin-700italic.woff2") format("woff2"), url("fonts/raleway-v12-latin-700italic.woff") format("woff"), url("fonts/raleway-v12-latin-700italic.ttf") format("truetype"), url("fonts/raleway-v12-latin-700italic.svg#Raleway") format("svg");
  /* Legacy iOS */
}

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #39CCCC;
  border: 0;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica", "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  -o-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
  background-color: #2ea3a3;
  color: #000;
}

button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
  outline: 3px solid rgba(57, 204, 204, 0.6);
  outline-offset: 2px;
}

button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
  background-color: #39CCCC;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

input,
select,
textarea {
  display: block;
  font-family: "Source Sans Pro", "Helvetica", "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
  font-size: 16px;
}

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
  -o-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%;
}

[type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
  border-color: #b1b1b1;
}

[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
  border-color: #39CCCC;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(57, 204, 204, 0.7);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(57, 204, 204, 0.7);
  outline: none;
}

[type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

[type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #ddd;
}

[type='color']::-webkit-input-placeholder, [type='date']::-webkit-input-placeholder, [type='datetime']::-webkit-input-placeholder, [type='datetime-local']::-webkit-input-placeholder, [type='email']::-webkit-input-placeholder, [type='month']::-webkit-input-placeholder, [type='number']::-webkit-input-placeholder, [type='password']::-webkit-input-placeholder, [type='search']::-webkit-input-placeholder, [type='tel']::-webkit-input-placeholder, [type='text']::-webkit-input-placeholder, [type='time']::-webkit-input-placeholder, [type='url']::-webkit-input-placeholder, [type='week']::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #a6a6a6;
}

[type='color']::-moz-placeholder, [type='date']::-moz-placeholder, [type='datetime']::-moz-placeholder, [type='datetime-local']::-moz-placeholder, [type='email']::-moz-placeholder, [type='month']::-moz-placeholder, [type='number']::-moz-placeholder, [type='password']::-moz-placeholder, [type='search']::-moz-placeholder, [type='tel']::-moz-placeholder, [type='text']::-moz-placeholder, [type='time']::-moz-placeholder, [type='url']::-moz-placeholder, [type='week']::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder {
  color: #a6a6a6;
}

[type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a6a6a6;
}

[type='color']::-ms-input-placeholder, [type='date']::-ms-input-placeholder, [type='datetime']::-ms-input-placeholder, [type='datetime-local']::-ms-input-placeholder, [type='email']::-ms-input-placeholder, [type='month']::-ms-input-placeholder, [type='number']::-ms-input-placeholder, [type='password']::-ms-input-placeholder, [type='search']::-ms-input-placeholder, [type='tel']::-ms-input-placeholder, [type='text']::-ms-input-placeholder, [type='time']::-ms-input-placeholder, [type='url']::-ms-input-placeholder, [type='week']::-ms-input-placeholder, input:not([type])::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #a6a6a6;
}

[type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #a6a6a6;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 0.75em;
  width: 100%;
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(57, 204, 204, 0.6);
  outline-offset: 2px;
}

html {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  display: table;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

::-moz-selection {
  background: #39CCCC;
  color: #fff;
}

::selection {
  background: #39CCCC;
  color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

.mar-t-200 {
  margin-top: 200px;
}

.mar-r-200 {
  margin-right: 200px;
}

.mar-b-200 {
  margin-bottom: 200px;
}

.mar-l-200 {
  margin-left: 200px;
}

.pad-t-200 {
  padding-top: 200px;
}

.pad-r-200 {
  padding-right: 200px;
}

.pad-b-200 {
  padding-bottom: 200px;
}

.pad-l-200 {
  padding-left: 200px;
}

.mar-t-195 {
  margin-top: 195px;
}

.mar-r-195 {
  margin-right: 195px;
}

.mar-b-195 {
  margin-bottom: 195px;
}

.mar-l-195 {
  margin-left: 195px;
}

.pad-t-195 {
  padding-top: 195px;
}

.pad-r-195 {
  padding-right: 195px;
}

.pad-b-195 {
  padding-bottom: 195px;
}

.pad-l-195 {
  padding-left: 195px;
}

.mar-t-190 {
  margin-top: 190px;
}

.mar-r-190 {
  margin-right: 190px;
}

.mar-b-190 {
  margin-bottom: 190px;
}

.mar-l-190 {
  margin-left: 190px;
}

.pad-t-190 {
  padding-top: 190px;
}

.pad-r-190 {
  padding-right: 190px;
}

.pad-b-190 {
  padding-bottom: 190px;
}

.pad-l-190 {
  padding-left: 190px;
}

.mar-t-185 {
  margin-top: 185px;
}

.mar-r-185 {
  margin-right: 185px;
}

.mar-b-185 {
  margin-bottom: 185px;
}

.mar-l-185 {
  margin-left: 185px;
}

.pad-t-185 {
  padding-top: 185px;
}

.pad-r-185 {
  padding-right: 185px;
}

.pad-b-185 {
  padding-bottom: 185px;
}

.pad-l-185 {
  padding-left: 185px;
}

.mar-t-180 {
  margin-top: 180px;
}

.mar-r-180 {
  margin-right: 180px;
}

.mar-b-180 {
  margin-bottom: 180px;
}

.mar-l-180 {
  margin-left: 180px;
}

.pad-t-180 {
  padding-top: 180px;
}

.pad-r-180 {
  padding-right: 180px;
}

.pad-b-180 {
  padding-bottom: 180px;
}

.pad-l-180 {
  padding-left: 180px;
}

.mar-t-175 {
  margin-top: 175px;
}

.mar-r-175 {
  margin-right: 175px;
}

.mar-b-175 {
  margin-bottom: 175px;
}

.mar-l-175 {
  margin-left: 175px;
}

.pad-t-175 {
  padding-top: 175px;
}

.pad-r-175 {
  padding-right: 175px;
}

.pad-b-175 {
  padding-bottom: 175px;
}

.pad-l-175 {
  padding-left: 175px;
}

.mar-t-170 {
  margin-top: 170px;
}

.mar-r-170 {
  margin-right: 170px;
}

.mar-b-170 {
  margin-bottom: 170px;
}

.mar-l-170 {
  margin-left: 170px;
}

.pad-t-170 {
  padding-top: 170px;
}

.pad-r-170 {
  padding-right: 170px;
}

.pad-b-170 {
  padding-bottom: 170px;
}

.pad-l-170 {
  padding-left: 170px;
}

.mar-t-165 {
  margin-top: 165px;
}

.mar-r-165 {
  margin-right: 165px;
}

.mar-b-165 {
  margin-bottom: 165px;
}

.mar-l-165 {
  margin-left: 165px;
}

.pad-t-165 {
  padding-top: 165px;
}

.pad-r-165 {
  padding-right: 165px;
}

.pad-b-165 {
  padding-bottom: 165px;
}

.pad-l-165 {
  padding-left: 165px;
}

.mar-t-160 {
  margin-top: 160px;
}

.mar-r-160 {
  margin-right: 160px;
}

.mar-b-160 {
  margin-bottom: 160px;
}

.mar-l-160 {
  margin-left: 160px;
}

.pad-t-160 {
  padding-top: 160px;
}

.pad-r-160 {
  padding-right: 160px;
}

.pad-b-160 {
  padding-bottom: 160px;
}

.pad-l-160 {
  padding-left: 160px;
}

.mar-t-155 {
  margin-top: 155px;
}

.mar-r-155 {
  margin-right: 155px;
}

.mar-b-155 {
  margin-bottom: 155px;
}

.mar-l-155 {
  margin-left: 155px;
}

.pad-t-155 {
  padding-top: 155px;
}

.pad-r-155 {
  padding-right: 155px;
}

.pad-b-155 {
  padding-bottom: 155px;
}

.pad-l-155 {
  padding-left: 155px;
}

.mar-t-150 {
  margin-top: 150px;
}

.mar-r-150 {
  margin-right: 150px;
}

.mar-b-150 {
  margin-bottom: 150px;
}

.mar-l-150 {
  margin-left: 150px;
}

.pad-t-150 {
  padding-top: 150px;
}

.pad-r-150 {
  padding-right: 150px;
}

.pad-b-150 {
  padding-bottom: 150px;
}

.pad-l-150 {
  padding-left: 150px;
}

.mar-t-145 {
  margin-top: 145px;
}

.mar-r-145 {
  margin-right: 145px;
}

.mar-b-145 {
  margin-bottom: 145px;
}

.mar-l-145 {
  margin-left: 145px;
}

.pad-t-145 {
  padding-top: 145px;
}

.pad-r-145 {
  padding-right: 145px;
}

.pad-b-145 {
  padding-bottom: 145px;
}

.pad-l-145 {
  padding-left: 145px;
}

.mar-t-140 {
  margin-top: 140px;
}

.mar-r-140 {
  margin-right: 140px;
}

.mar-b-140 {
  margin-bottom: 140px;
}

.mar-l-140 {
  margin-left: 140px;
}

.pad-t-140 {
  padding-top: 140px;
}

.pad-r-140 {
  padding-right: 140px;
}

.pad-b-140 {
  padding-bottom: 140px;
}

.pad-l-140 {
  padding-left: 140px;
}

.mar-t-135 {
  margin-top: 135px;
}

.mar-r-135 {
  margin-right: 135px;
}

.mar-b-135 {
  margin-bottom: 135px;
}

.mar-l-135 {
  margin-left: 135px;
}

.pad-t-135 {
  padding-top: 135px;
}

.pad-r-135 {
  padding-right: 135px;
}

.pad-b-135 {
  padding-bottom: 135px;
}

.pad-l-135 {
  padding-left: 135px;
}

.mar-t-130 {
  margin-top: 130px;
}

.mar-r-130 {
  margin-right: 130px;
}

.mar-b-130 {
  margin-bottom: 130px;
}

.mar-l-130 {
  margin-left: 130px;
}

.pad-t-130 {
  padding-top: 130px;
}

.pad-r-130 {
  padding-right: 130px;
}

.pad-b-130 {
  padding-bottom: 130px;
}

.pad-l-130 {
  padding-left: 130px;
}

.mar-t-125 {
  margin-top: 125px;
}

.mar-r-125 {
  margin-right: 125px;
}

.mar-b-125 {
  margin-bottom: 125px;
}

.mar-l-125 {
  margin-left: 125px;
}

.pad-t-125 {
  padding-top: 125px;
}

.pad-r-125 {
  padding-right: 125px;
}

.pad-b-125 {
  padding-bottom: 125px;
}

.pad-l-125 {
  padding-left: 125px;
}

.mar-t-120 {
  margin-top: 120px;
}

.mar-r-120 {
  margin-right: 120px;
}

.mar-b-120 {
  margin-bottom: 120px;
}

.mar-l-120 {
  margin-left: 120px;
}

.pad-t-120 {
  padding-top: 120px;
}

.pad-r-120 {
  padding-right: 120px;
}

.pad-b-120 {
  padding-bottom: 120px;
}

.pad-l-120 {
  padding-left: 120px;
}

.mar-t-115 {
  margin-top: 115px;
}

.mar-r-115 {
  margin-right: 115px;
}

.mar-b-115 {
  margin-bottom: 115px;
}

.mar-l-115 {
  margin-left: 115px;
}

.pad-t-115 {
  padding-top: 115px;
}

.pad-r-115 {
  padding-right: 115px;
}

.pad-b-115 {
  padding-bottom: 115px;
}

.pad-l-115 {
  padding-left: 115px;
}

.mar-t-110 {
  margin-top: 110px;
}

.mar-r-110 {
  margin-right: 110px;
}

.mar-b-110 {
  margin-bottom: 110px;
}

.mar-l-110 {
  margin-left: 110px;
}

.pad-t-110 {
  padding-top: 110px;
}

.pad-r-110 {
  padding-right: 110px;
}

.pad-b-110 {
  padding-bottom: 110px;
}

.pad-l-110 {
  padding-left: 110px;
}

.mar-t-105 {
  margin-top: 105px;
}

.mar-r-105 {
  margin-right: 105px;
}

.mar-b-105 {
  margin-bottom: 105px;
}

.mar-l-105 {
  margin-left: 105px;
}

.pad-t-105 {
  padding-top: 105px;
}

.pad-r-105 {
  padding-right: 105px;
}

.pad-b-105 {
  padding-bottom: 105px;
}

.pad-l-105 {
  padding-left: 105px;
}

.mar-t-100 {
  margin-top: 100px;
}

.mar-r-100 {
  margin-right: 100px;
}

.mar-b-100 {
  margin-bottom: 100px;
}

.mar-l-100 {
  margin-left: 100px;
}

.pad-t-100 {
  padding-top: 100px;
}

.pad-r-100 {
  padding-right: 100px;
}

.pad-b-100 {
  padding-bottom: 100px;
}

.pad-l-100 {
  padding-left: 100px;
}

.mar-t-95 {
  margin-top: 95px;
}

.mar-r-95 {
  margin-right: 95px;
}

.mar-b-95 {
  margin-bottom: 95px;
}

.mar-l-95 {
  margin-left: 95px;
}

.pad-t-95 {
  padding-top: 95px;
}

.pad-r-95 {
  padding-right: 95px;
}

.pad-b-95 {
  padding-bottom: 95px;
}

.pad-l-95 {
  padding-left: 95px;
}

.mar-t-90 {
  margin-top: 90px;
}

.mar-r-90 {
  margin-right: 90px;
}

.mar-b-90 {
  margin-bottom: 90px;
}

.mar-l-90 {
  margin-left: 90px;
}

.pad-t-90 {
  padding-top: 90px;
}

.pad-r-90 {
  padding-right: 90px;
}

.pad-b-90 {
  padding-bottom: 90px;
}

.pad-l-90 {
  padding-left: 90px;
}

.mar-t-85 {
  margin-top: 85px;
}

.mar-r-85 {
  margin-right: 85px;
}

.mar-b-85 {
  margin-bottom: 85px;
}

.mar-l-85 {
  margin-left: 85px;
}

.pad-t-85 {
  padding-top: 85px;
}

.pad-r-85 {
  padding-right: 85px;
}

.pad-b-85 {
  padding-bottom: 85px;
}

.pad-l-85 {
  padding-left: 85px;
}

.mar-t-80 {
  margin-top: 80px;
}

.mar-r-80 {
  margin-right: 80px;
}

.mar-b-80 {
  margin-bottom: 80px;
}

.mar-l-80 {
  margin-left: 80px;
}

.pad-t-80 {
  padding-top: 80px;
}

.pad-r-80 {
  padding-right: 80px;
}

.pad-b-80 {
  padding-bottom: 80px;
}

.pad-l-80 {
  padding-left: 80px;
}

.mar-t-75 {
  margin-top: 75px;
}

.mar-r-75 {
  margin-right: 75px;
}

.mar-b-75 {
  margin-bottom: 75px;
}

.mar-l-75 {
  margin-left: 75px;
}

.pad-t-75 {
  padding-top: 75px;
}

.pad-r-75 {
  padding-right: 75px;
}

.pad-b-75 {
  padding-bottom: 75px;
}

.pad-l-75 {
  padding-left: 75px;
}

.mar-t-70 {
  margin-top: 70px;
}

.mar-r-70 {
  margin-right: 70px;
}

.mar-b-70 {
  margin-bottom: 70px;
}

.mar-l-70 {
  margin-left: 70px;
}

.pad-t-70 {
  padding-top: 70px;
}

.pad-r-70 {
  padding-right: 70px;
}

.pad-b-70 {
  padding-bottom: 70px;
}

.pad-l-70 {
  padding-left: 70px;
}

.mar-t-65 {
  margin-top: 65px;
}

.mar-r-65 {
  margin-right: 65px;
}

.mar-b-65 {
  margin-bottom: 65px;
}

.mar-l-65 {
  margin-left: 65px;
}

.pad-t-65 {
  padding-top: 65px;
}

.pad-r-65 {
  padding-right: 65px;
}

.pad-b-65 {
  padding-bottom: 65px;
}

.pad-l-65 {
  padding-left: 65px;
}

.mar-t-60 {
  margin-top: 60px;
}

.mar-r-60 {
  margin-right: 60px;
}

.mar-b-60 {
  margin-bottom: 60px;
}

.mar-l-60 {
  margin-left: 60px;
}

.pad-t-60 {
  padding-top: 60px;
}

.pad-r-60 {
  padding-right: 60px;
}

.pad-b-60 {
  padding-bottom: 60px;
}

.pad-l-60 {
  padding-left: 60px;
}

.mar-t-55 {
  margin-top: 55px;
}

.mar-r-55 {
  margin-right: 55px;
}

.mar-b-55 {
  margin-bottom: 55px;
}

.mar-l-55 {
  margin-left: 55px;
}

.pad-t-55 {
  padding-top: 55px;
}

.pad-r-55 {
  padding-right: 55px;
}

.pad-b-55 {
  padding-bottom: 55px;
}

.pad-l-55 {
  padding-left: 55px;
}

.mar-t-50 {
  margin-top: 50px;
}

.mar-r-50 {
  margin-right: 50px;
}

.mar-b-50 {
  margin-bottom: 50px;
}

.mar-l-50 {
  margin-left: 50px;
}

.pad-t-50 {
  padding-top: 50px;
}

.pad-r-50 {
  padding-right: 50px;
}

.pad-b-50 {
  padding-bottom: 50px;
}

.pad-l-50 {
  padding-left: 50px;
}

.mar-t-45 {
  margin-top: 45px;
}

.mar-r-45 {
  margin-right: 45px;
}

.mar-b-45 {
  margin-bottom: 45px;
}

.mar-l-45 {
  margin-left: 45px;
}

.pad-t-45 {
  padding-top: 45px;
}

.pad-r-45 {
  padding-right: 45px;
}

.pad-b-45 {
  padding-bottom: 45px;
}

.pad-l-45 {
  padding-left: 45px;
}

.mar-t-40 {
  margin-top: 40px;
}

.mar-r-40 {
  margin-right: 40px;
}

.mar-b-40 {
  margin-bottom: 40px;
}

.mar-l-40 {
  margin-left: 40px;
}

.pad-t-40 {
  padding-top: 40px;
}

.pad-r-40 {
  padding-right: 40px;
}

.pad-b-40 {
  padding-bottom: 40px;
}

.pad-l-40 {
  padding-left: 40px;
}

.mar-t-35 {
  margin-top: 35px;
}

.mar-r-35 {
  margin-right: 35px;
}

.mar-b-35 {
  margin-bottom: 35px;
}

.mar-l-35 {
  margin-left: 35px;
}

.pad-t-35 {
  padding-top: 35px;
}

.pad-r-35 {
  padding-right: 35px;
}

.pad-b-35 {
  padding-bottom: 35px;
}

.pad-l-35 {
  padding-left: 35px;
}

.mar-t-30 {
  margin-top: 30px;
}

.mar-r-30 {
  margin-right: 30px;
}

.mar-b-30 {
  margin-bottom: 30px;
}

.mar-l-30 {
  margin-left: 30px;
}

.pad-t-30 {
  padding-top: 30px;
}

.pad-r-30 {
  padding-right: 30px;
}

.pad-b-30 {
  padding-bottom: 30px;
}

.pad-l-30 {
  padding-left: 30px;
}

.mar-t-25 {
  margin-top: 25px;
}

.mar-r-25 {
  margin-right: 25px;
}

.mar-b-25 {
  margin-bottom: 25px;
}

.mar-l-25 {
  margin-left: 25px;
}

.pad-t-25 {
  padding-top: 25px;
}

.pad-r-25 {
  padding-right: 25px;
}

.pad-b-25 {
  padding-bottom: 25px;
}

.pad-l-25 {
  padding-left: 25px;
}

.mar-t-20 {
  margin-top: 20px;
}

.mar-r-20 {
  margin-right: 20px;
}

.mar-b-20 {
  margin-bottom: 20px;
}

.mar-l-20 {
  margin-left: 20px;
}

.pad-t-20 {
  padding-top: 20px;
}

.pad-r-20 {
  padding-right: 20px;
}

.pad-b-20 {
  padding-bottom: 20px;
}

.pad-l-20 {
  padding-left: 20px;
}

.mar-t-15 {
  margin-top: 15px;
}

.mar-r-15 {
  margin-right: 15px;
}

.mar-b-15 {
  margin-bottom: 15px;
}

.mar-l-15 {
  margin-left: 15px;
}

.pad-t-15 {
  padding-top: 15px;
}

.pad-r-15 {
  padding-right: 15px;
}

.pad-b-15 {
  padding-bottom: 15px;
}

.pad-l-15 {
  padding-left: 15px;
}

.mar-t-10 {
  margin-top: 10px;
}

.mar-r-10 {
  margin-right: 10px;
}

.mar-b-10 {
  margin-bottom: 10px;
}

.mar-l-10 {
  margin-left: 10px;
}

.pad-t-10 {
  padding-top: 10px;
}

.pad-r-10 {
  padding-right: 10px;
}

.pad-b-10 {
  padding-bottom: 10px;
}

.pad-l-10 {
  padding-left: 10px;
}

.mar-t-5 {
  margin-top: 5px;
}

.mar-r-5 {
  margin-right: 5px;
}

.mar-b-5 {
  margin-bottom: 5px;
}

.mar-l-5 {
  margin-left: 5px;
}

.pad-t-5 {
  padding-top: 5px;
}

.pad-r-5 {
  padding-right: 5px;
}

.pad-b-5 {
  padding-bottom: 5px;
}

.pad-l-5 {
  padding-left: 5px;
}

.mar-t-0 {
  margin-top: 0px;
}

.mar-r-0 {
  margin-right: 0px;
}

.mar-b-0 {
  margin-bottom: 0px;
}

.mar-l-0 {
  margin-left: 0px;
}

.pad-t-0 {
  padding-top: 0px;
}

.pad-r-0 {
  padding-right: 0px;
}

.pad-b-0 {
  padding-bottom: 0px;
}

.pad-l-0 {
  padding-left: 0px;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: 1.2;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: 600;
}

th,
td {
  padding: 0.75em 0.75em 0.75em 0;
}

html {
  color: #6a6a6a;
  font-family: "Source Sans Pro", "Helvetica", "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", "Helvetica", "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #39CCCC;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  -webkit-transition: color 150ms ease;
  -o-transition: color 150ms ease;
  transition: color 150ms ease;
}

a:hover {
  color: #2b9999;
}

a:focus {
  outline: 3px solid rgba(57, 204, 204, 0.6);
  outline-offset: 2px;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

.u-full-width {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100% \9;
}

.navbar-brand {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #028482;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100vw;
}

.brand-logo {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  text-decoration: none;
}

.brand-logo .tillman-connection {
  color: #fff;
  font-size: 1.5rem;
  padding-top: 3px;
  padding-right: 10px;
}

.navbar-company-name {
  color: #fff;
  display: block;
  font-family: "Raleway", "Helvetica", "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar {
  -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  -o-transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.navbar-menu {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #028482;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  left: -50vw;
  position: absolute;
  top: 100%;
  width: 100vw;
}

.navbar-item {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1em;
  opacity: 0;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: opacity 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.navbar-item:hover {
  color: #333;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle:checked ~ .navbar {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

.navbar-toggle:checked ~ .navbar .navbar-item {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  -o-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

.navbar-toggle-label {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  left: 0;
  margin-left: 1em;
  position: absolute;
  top: 0;
}

.navbar-toggle-label-icon, .navbar-toggle-label-icon::before, .navbar-toggle-label-icon::after {
  background-color: #fff;
  border-radius: 2px;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
  width: 2em;
}

.navbar-toggle-label-icon::before, .navbar-toggle-label-icon::after {
  content: '';
  position: absolute;
}

.navbar-toggle-label-icon::before {
  bottom: 7px;
}

.navbar-toggle-label-icon::after {
  top: 7px;
}

.navbar-toggle:checked ~ .navbar-toggle-label {
  -webkit-transform: scale(0.75) rotate(45deg);
      -ms-transform: scale(0.75) rotate(45deg);
          transform: scale(0.75) rotate(45deg);
}

.navbar-toggle:checked ~ .navbar-toggle-label .navbar-toggle-label-icon::before {
  opacity: 0;
}

.navbar-toggle:checked ~ .navbar-toggle-label .navbar-toggle-label-icon::after {
  -webkit-transform: translateY(-7px) rotate(-90deg);
      -ms-transform: translateY(-7px) rotate(-90deg);
          transform: translateY(-7px) rotate(-90deg);
}

@media screen and (min-width: 960px) {
  .navbar-toggle-label {
    display: none;
  }
  .navbar-brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr minmax(400px, 2fr) minmax(550px, 3fr) 1fr;
  }
  .navbar-brand .brand-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    grid-column: 2/3;
  }
  .navbar-brand .brand-logo .tillman-connection {
    font-size: 2rem;
    padding-right: 0;
  }
  .navbar-brand .brand-logo .navbar-company-name {
    display: inline-block;
    margin-left: 20px;
    font-size: 1.6rem;
  }
  .navbar-brand .navbar, .navbar-brand .navbar-menu {
    all: unset;
  }
  .navbar-brand .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-column: 3/4;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 1rem;
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .navbar-brand .navbar .navbar-menu {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    left: initial;
    margin: 1rem;
    position: static;
    top: initial;
    width: auto;
  }
  .navbar-brand .navbar .navbar-menu .navbar-item {
    margin: 0 0 0 3em;
    opacity: 1;
    position: relative;
  }
  .navbar-brand .navbar .navbar-menu .navbar-item::before {
    background-color: #333;
    content: '';
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: -.75em;
    -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    -o-transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  }
  .navbar-brand .navbar .navbar-menu .navbar-item:hover::before, .navbar-brand .navbar .navbar-menu .navbar-item:focus::before {
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

/* ========================
		Buttons
	@mixin ====================== */
.button {
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 5px 5px 10px #111;
          box-shadow: 5px 5px 10px #111;
  font-size: 1.5rem;
  font-weight: 400;
  padding: .5rem 2rem;
  text-decoration: none;
}

.button-default {
  background-color: #028482;
  border-color: #015251;
  color: #fff;
}

.button-default:hover, .button-default:focus {
  background-color: #fff;
  color: #028482;
  -webkit-transition: all ease-in-out 250ms;
  -o-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.get-connected {
  margin-top: 288px;
}

@media screen and (min-width: 960px) {
  .get-connected {
    margin-top: 280px;
  }
}

.section {
  font-size: 2rem;
  font-weight: 300;
}

.section:nth-of-type(2n) {
  background-color: #ddd;
  border: 1px solid #aaaaaa;
  color: #6a6a6a;
  margin: 0 !important;
}

.section:nth-of-type(3n) {
  background-color: #028482;
  border: 1px solid #00201f;
  color: #fff;
  margin: 0 !important;
}

.section-content {
  margin: 0 auto;
  padding: 3em 1em;
}

.section-content a {
  color: #026b69;
}

.home .no-margin {
  margin: 0 !important;
}

.home .section {
  margin: 2rem 0 0;
}

.home .section-hero {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  background-image: url(../img/tillman_connection_banner_one.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 75vh;
  margin: 3.5rem 0 0;
  max-width: 100vw;
  padding: 0;
  width: 100%;
}

.home .section-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100vw;
  width: 100%;
}

.home .section-content img {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.home .section .section-content-link {
  color: #fff;
}

.home .section-break-image {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  background-image: url(../img/washington-dc.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  max-width: 100vw;
  text-shadow: 2px 2px #111;
  padding: 0 1em;
  width: 100%;
}

.home .tillman-connection-logo-section {
  color: #028482;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  text-align: center;
}

.home .tillman-connection-logo-section .tillman-connection {
  font-size: 12rem;
  margin: -2px 0 30px;
}

@media screen and (min-width: 960px) {
  .home .section-hero {
    margin: 4.25rem 0 0;
  }
  .home .section-content {
    display: grid;
    grid-template-columns: 1fr minmax(350px, 3fr) auto 1fr;
  }
  .home .section-content h1, .home .section-content p {
    grid-column: 2/3;
  }
  .home .section-content h1 {
    grid-row: 1/2;
  }
  .home .section-content p {
    grid-row: 2/3;
  }
  .home .section-content .tillman-connection-logo-section {
    grid-column: 3/4;
    grid-row: 1/3;
    margin-left: .5em;
    margin-top: 0;
  }
  .home .section-break-image {
    font-size: 3.5rem;
    padding: 0 13% 0 17%;
  }
}

@media screen and (max-width: 460px) {
  .tillman-connection-logo-section h2 {
    font-size: .9em;
  }
  .tillman-connection-logo-section .tillman-connection {
    font-size: 7rem;
  }
}

.align-text-left {
  text-align: left;
}

.align-text-right {
  text-align: right;
}

.align-text-center {
  text-align: center;
}

.section-subtitle {
  color: #515151;
  font-weight: 300;
  font-size: 18px;
  margin-top: -30px;
}

.portrait-container {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portrait-container .portrait-group {
  margin: 50px auto;
}

.portrait-container .portrait-single {
  border-radius: 10px;
  height: 100%;
  margin-bottom: 30px;
  max-height: 350px;
  max-width: 300px;
  overflow: hidden;
  width: 100%;
}

.portrait-container .portrait-single img {
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;
}

.card-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 60px;
}

.card-wrapper .card-box {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  text-align: center;
  width: 100%;
}

.card-wrapper .card-box .card-info {
  background-color: #028482;
  border: 1px solid #ddd;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 50px 30px 70px;
  width: 100%;
  z-index: 0;
}

.card-wrapper .card-box .card-info p {
  font-size: 1rem;
  margin: 0 auto;
}

.card-wrapper .card-box .card-img {
  height: 104px;
  margin-top: -50px;
  padding: 0;
  text-align: center;
  width: 100px;
  z-index: 999;
}

.card-wrapper .card-box .card-img i {
  border: 1px solid #ddd;
  border-radius: 50%;
  font-size: 50px;
  height: 104px;
  padding: 25px 0 0;
  width: 100px;
}

.card-wrapper .card-box .card-img img {
  border: 1px solid #ddd;
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
}

.about .section {
  margin: 2rem 0 0;
}

.about .section-hero {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  background-image: url(../img/tillman_connection_banner_one.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75vh;
  margin: 3.5rem 0 0;
  max-width: 100vw;
  padding: 0;
  width: 100%;
}

.about .section .center-title {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (min-width: 960px) {
  .about .section-content {
    display: grid;
    grid-template-columns: 1fr minmax(350px, 3fr) auto 1fr;
  }
  .about .section-content h2, .about .section-content h6, .about .section-content p {
    grid-column: 2/3;
  }
  .about .card-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .about .card-wrapper .card-box {
    margin-bottom: 30px;
    max-width: 540px;
    width: 100%;
  }
  .about .portrait-container {
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  }
  .about .portrait-container .portrait-group {
    grid-column: 2/5;
    grid-row: 1/2;
  }
  .about .portrait-container .portrait-single {
    grid-row: 2/3;
    padding-left: 5px;
    padding-right: 5px;
  }
  .about .portrait-container .position-one {
    grid-column: 2/3;
  }
  .about .portrait-container .position-two {
    grid-column: 3/4;
  }
  .about .portrait-container .position-three {
    grid-column: 4/5;
  }
}

/* ========================
		Footer
	@mixin ====================== */
.footer {
  background-color: #333;
  border-top: 1px solid black;
  color: #ddd;
  display: table-row;
  height: 1px;
  padding: 1em 0;
}

.footer .navbar-menu {
  all: unset;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0 0;
}

.footer .navbar-item {
  color: #ddd;
  font-size: 1rem;
  margin-bottom: 0;
  opacity: 1;
}

.footer .navbar-item:hover {
  color: #028482;
}

.footer .navbar-item::after {
  background: #6a6a6a;
  content: '';
  display: block;
  height: 1px;
  margin: 1.4em auto;
  width: 1.8em;
}

.footer .section {
  background-color: inherit;
  border: none;
  color: #ddd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 40px;
  text-align: center;
}

@media screen and (min-width: 960px) {
  .footer {
    display: block;
    height: auto;
    width: 100vw;
  }
  .footer .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .footer .container .section {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 40px;
  }
  .footer .container .section p {
    padding-top: 20px;
  }
  .footer .container .navbar-menu {
    align-self: center;
    background-color: #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    position: static;
    width: auto;
    grid-column: 3/4;
    padding: 0;
  }
  .footer .container .navbar-menu .navbar-item {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-left: 3rem;
    position: relative;
  }
  .footer .container .navbar-menu .navbar-item::after {
    background-color: #028482;
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: .75em;
    -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    -o-transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
    width: auto;
  }
  .footer .container .navbar-menu .navbar-item:hover::after, .footer .container .navbar-menu .navbar-item:focus::after {
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .footer .container .navbar-menu .navbar-item::before {
    background: none;
    top: initial;
  }
}

/* ========================
		Back to Top
	@mixin ====================== */
.back-to-top {
  background: #028482;
  border: 1px solid #00201f;
  border-radius: 4px 4px 0px 0px;
  -webkit-box-shadow: 12px 12px 15px #111;
          box-shadow: 12px 12px 15px #111;
  cursor: pointer;
  display: none;
  opacity: 0.25;
  position: fixed;
  right: 10px;
  bottom: 0px;
  height: 40px;
  width: 40px;
  text-align: center;
  z-index: 999;
}

.back-to-top:hover, .back-to-top:focus {
  opacity: 1;
}

.back-to-top .sp-arrow-up {
  color: #fff;
  font-size: 25px;
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}

@media screen and (min-width: 960px) {
  .back-to-top {
    height: 60px;
    width: 60px;
  }
  .back-to-top .sp-arrow-up {
    font-size: 40px;
    -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
            transform: translateY(8px);
  }
}
