include mixins.pug

header.navbar-brand
	a.brand-logo(href='./')
		i.fas.fa-wifi.tillman-connection
		span.navbar-company-name Tillman Connection
	input#navbar-toggle.navbar-toggle(type='checkbox', name='navbar-toggle')
	label.navbar-toggle-label(for='navbar-toggle')
		span.navbar-toggle-label-icon
	nav.navbar(role='navigation')
		+navlinks