include mixins.pug

header.navbar-brand
	a.brand-logo(href='./')
		<i class="fas fa-wifi tillman-connection"></i>
		<span class="navbar-company-name">Tillman Connection</span>
	input#navbar-toggle.navbar-toggle(type='checkbox', name='navbar-toggle')
	label.navbar-toggle-label(for='navbar-toggle')
		span.navbar-toggle-label-icon
	nav.navbar(role='navigation')
		+navlinks