include mixins.pug

header.navbar-brand
	a.brand-logo(href='./')
		//- img(src='../assets/img/luminous_logo_nav.svg', alt='Company Logo', width='40', height='40')
		<span class="navbar-company-name">Tillman Connection</span>
	input#navbar-toggle.navbar-toggle(type='checkbox', name='navbar-toggle')
	label.navbar-toggle-label(for='navbar-toggle')
		span.navbar-toggle-label-icon
	nav.navbar(role='navigation')
		+navlinks