mixin navlinks

    .navbar-menu
        each val, link in {'/' : 'Home' , 'about.html' : 'About' , 'fund.html' : 'Fundraising' , '/Blog' : '“Strengthening Families”', '/Contact' : 'Contact'}
            a.navbar-item(href=link)= val