doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='keywords', content='Tillman, Connection, family, reunion, contact')
		meta(name='author', content='Luminous Hilt')
		meta(name='description', content='')
		title Tillman Connection | About
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
		link(rel='stylesheet', href='assets/css/main.css')
		link(rel='icon', type='image/png', href='assets/img/favicon.ico')
	body.about
		include assets/inc/banner.pug

		section.section
			.section-hero
				h1.title.vert-center About Us

		section.section.section-content
			h2.title Family Heritage
			p

		section.section.section-content
			p.
				Our guiding theme is "Linking generations one reunion at a time." As a committee, we are charging family to not only clinch to this theme for the reunion but to honor and practice preserving the Tillman legacy.

		section.section.no-margin.section-break-image
			p How will our theme be demonstrated throughout our weekend in the nation's capital and beyond?

		section.section.section-content
			h2.title.center-title Meet The Committee
			.card-wrapper
				.card-box
					.card-info
						p Name: Quiana Montgomery
						p Role: Chair
						p City: Seattle, WA
					
					.card-img
						img.img-responsive(src='assets/img/quiana.jpeg' alt='Quiana Montgomery')

				.card-box
					.card-info
						p Name: Sullivan Montgomery
						p Role: Treasurer
						p City: Seattle, WA
					
					.card-img
						img.img-responsive(src='assets/img/sullivan.jpg' alt='Sullivan Montgomery')

				.card-box
					.card-info
						p Name: Michael Tillman
						p City: Seattle, WA
					
					.card-img
						img.img-responsive(src='assets/img/michael.jpg' alt='Michal Tillman')

				.card-box
					.card-info
						p Name: Kimble McNeal
						p State: Florida
					
					.card-img
						img.img-responsive(src='assets/img/kimble.jpg' alt='Kimble McNeal')

				.card-box
					.card-info
						p Name:
						p Role:
						p City:
					
					.card-img
						i.fas.fa-user

				.card-box
					.card-info
						p Name:
						p Role:
						p City:
					
					.card-img
						i.fas.fa-user



		section.section.section-content
			p For any questions, concerns or suggestions feel free to <a class="section-content-link" href="mailto:hero2g@gmail.com"> contact one of your committee members</a>.

		include assets/inc/footer.pug
		include assets/inc/backtotop.pug

		script(src='assets/js/scripts.js')