doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='keywords', content='Tillman, Connection, family, reunion, contact')
		meta(name='author', content='Luminous Hilt')
		meta(name='description', content='')
		title Tillman Connection | About
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
		link(rel='stylesheet', href='/assets/css/main.css')
		link(rel='icon', type='image/png', href='/assets/img/favicon.ico')
	body.about
		include assets/inc/banner.pug

		section.section
			.section-hero
				h1.title.vert-center About Us

		section.section
			.save-the-date-container
				img.img-responsive(src='/assets/img/save-the-date.jpg', alt='Save the Dates')

		section.section.section-content
			p For any questions, concerns or suggestions feel free to <a class="section-content-link" href="mailto:info@tillmanconnection.com"> contact one of your committee members</a>.

		include assets/inc/footer.pug
		include assets/inc/backtotop.pug

		script(src='/assets/js/scripts.js')