doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='keywords', content='Tillman, Connection, family, reunion, contact')
		meta(name='author', content='Luminous Hilt')
		meta(name='description', content='')
		title Tillman Connection | Committee Members
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
		link(rel='stylesheet', href='/assets/css/main.css')
		link(rel='icon', type='image/png', href='/assets/img/favicon.ico')
	body.about.committee
		include assets/inc/banner.pug

		section.section
			.section-hero
				h1.title.vert-center Committee Members

		section.section.pad-t-100
			h2.title.center-title Meet The Committee
			.card-wrapper
				.card-box
					.card-info
						p Name: Quiana Montgomery
						p Role: Chair
						p City: Seattle, WA
					
					.card-img
						img.img-responsive(src='/assets/img/quiana.jpeg' alt='Quiana Montgomery')

				.card-box
					.card-info
						p Name: Sullivan Montgomery
						p Role: Treasurer
						p City: Seattle, WA
					
					.card-img
						img.img-responsive(src='/assets/img/sullivan.jpg' alt='Sullivan Montgomery')

				.card-box
					.card-info
						p Name: Michael Tillman
						p City: Seattle, WA
					
					.card-img
						img.img-responsive(src='/assets/img/michael.jpg' alt='Michal Tillman')

				.card-box
					.card-info
						p Name: Kimble McNeal
						p State: Florida
					
					.card-img
						img.img-responsive(src='/assets/img/kimble.jpg' alt='Kimble McNeal')

				.card-box
					.card-info
						p Name: Savina Moore
						p City: Seattle, WA
					
					.card-img
						img.img-responsive(src='/assets/img/savina.jpg' alt='Savina Moore')

				.card-box
					.card-info
						p Name: Merlean Locke
						p Role: Treasurer
						p City: Seattle, WA
					
					.card-img
						img.img-responsive(src='/assets/img/merlean.jpg' alt='Merlean Locke')
				.card-box
					.card-info
						p Name: Martha Stephens
						p City: Seattle, WA
					
					.card-img
						img.img-responsive(src='/assets/img/martha.jpg' alt='Martha Stephens')
				.card-box
					.card-info
						p Name: Sharee Daniels
						p City: Seattle, WA
					
					.card-img
						img.img-responsive(src='/assets/img/sharee.jpg' alt='Sharee Daniels')

				.card-box
					.card-info
						p Name:
						p Role:
						p City:
					
					.card-img
						i.fas.fa-user

		section.section.section-content
			p For any questions, concerns or suggestions feel free to <a class="section-content-link" href="mailto:info@tillmanconnection.com"> contact one of your committee members</a>.

		include assets/inc/footer.pug
		include assets/inc/backtotop.pug

		script(src='/assets/js/scripts.js')