doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='keywords', content='Tillman, Connection, family, reunion, contact')
		meta(name='author', content='Luminous Hilt')
		meta(name='description', content='')
		title Tillman Connection | Fundraisers
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
		link(rel='stylesheet', href='/assets/css/main.css')
		link(rel='icon', type='image/png', href='/assets/img/favicon.ico')
	body.fund
		include assets/inc/banner.pug

		section.section
			.section-hero
				h1.title.vert-center Fundraisers

		section.section.section-content
			.section-content-event
				h2.title.align-text-center.highlight Apple Bee's Pancake Breakfast
				.fundraise-hero
					img(src='/assets/img/breakfast_fundraiser.jpg', alt='Apple Bee\'s Pancake Breakfast Fundraiser')
				h6.highlight January 25, 2020
				p.
					Come join us for a delicious family breakfast at Apple Bees located in Renton on Grady Way. It’s a fantastic chance to not only enjoy pancakes, sausage, scrambled eggs, butter, syrup, and drink.  (coffee, juice, milk, fountain drink), but also family!  All proceeds are going towards our family reunion.  Hope to see you there!  Contact one of your committee members for details and your ticket.  Breakfast is from 8:00 to 10:00 am.  We’ll save you a seat.

		



		section.section.section-content
			p For any questions, concerns or suggestions feel free to <a class="section-content-link" href="mailto:info@tillmanconnection.com"> contact one of your committee members</a>.

		include assets/inc/footer.pug
		include assets/inc/backtotop.pug

		script(src='/assets/js/scripts.js')