doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='keywords', content='Tillman, Connection, family, reunion, contact')
		meta(name='author', content='Luminous Hilt')
		meta(name='description', content='')
		title Tillman Connection | Home
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
		link(rel='stylesheet', href='assets/css/main.css')
		link(rel='icon', type='image/png', href='assets/img/favicon.ico')
	body.home
		include assets/inc/banner.pug

		section.section
			.section-hero
				a(href='#greeting').button.button-default.get-connected.scroll-link Get Connected

		section#greeting.section.section-content
			h1.title Greetings Family &amp; Friends!
			p.
				It is with much anticipation your Tillman Connection family reunion. &nbsp;Committee members are very excited to officially announce the 2021 Tillman Connection Family Reunion in our nation's capital of Washington, D.C.

			img.img-responsive(src='assets/img/rest-area-picnic.svg', alt='Picnic Area Decoration Image', width="450", height="300")

		section.section.section-content
			p.
				Our guiding theme is "Linking generations one reunion at a time." As a committee, we are charging family to not only clinch to this theme for the reunion but to honor and practice preserving the Tillman legacy.

		section.section.no-margin.section-break-image
			p How will our theme be demonstrated throughout our weekend in the nation's capital and beyond?

		section.section.section-content
			p.
				The 2021 committee has not only committed to planning a funfilled &amp; memorable weekend, but has also committed to bridging the generations within our family together. This theme will be experienced through multiple activities and events. As you continue to explore our family website, you will see a preliminary outline of the weekend itinerary. Please pay close attention to deadlines/important dates. We encourage you to visit our family website often for updates and messages. No exceptions to deadlines! For a successful outcome, we need your unwavering support, continuous participation and honoring of this family legacy.

		section.section.section-content
			p For any questions, concerns or suggestions feel free to <a class="section-content-link" href="mailto:hero2g@gmail.com"> contact one of your committee members</a>.

		include assets/inc/footer.pug
		include assets/inc/backtotop.pug

		script(src='assets/js/scripts.js')