doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Tillman Connection | Home
		meta(name='description', content='')
		meta(name='keywords', content='Tillman, Connection, family, reunion, contact')
		meta(name='author', content='Luminous Hilt')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/assets/css/main.css')
		link(rel='icon', type='image/png', href='/assets/img/favicon.ico')
	body.home
		include assets/inc/banner.pug

		section.section
			.section-hero
				a(href='#greeting').button.button-default Get Connected

		section#greeting.section.section-content
			h1.title Greetings Family &amp; Friends!
			p.
				It is with much anticipation your Tillman Connection family reunion. &nbsp;Committee members are very excited to officially announce the 2021 Tillman Connection Family Reunion in our nation's capital of Washington, D.C.

			img.img-responsive(src='//picsum.photos/450/300/?blur' alt='')

		section.section.section-content
			p.
				Our guiding theme is "Linking generations one reunion at a time." As a committee, we are charging family to not only clinch to this theme for the reunion but to honor and practice preserving the Tillman legacy.

		section.section.no-margin.section-break-image
			.section-content
				p How will our theme be demonstrated throughout our weekend in the nation's capital and beyond?

		section.section.section-content
			p.
				The 2021 committee has not only committed to planning a funfilled &amp; memorable weekend, but has also committed to bridging the generations within our family together. This theme will be experienced through multiple activities and events. As you continue to explore our family website, you will see a preliminary outline of the weekend itinerary. Please pay close attention deadlines/important dates. We encourage you to visit our family website often for updates and messages. No exceptions to deadlines! For a successful outcome, we need your unwavering support, continuous participation and honoring of this family legacy.

		include assets/inc/footer.pug

		script(src='/assets/js/scripts.js')